{% url 'lotes:registrar' as registrar %}
{% url 'lotes:listado' as listado %}
<li class="{% if "lotes/" in request.path %} active {% endif %}has-sub">
    <a href="javascript:;">
        <b class="caret"></b>
        <i class="fas fa-lg fa-cube bg-gradient-blue"></i>
        <span>Lotes</span>
    </a>
    <ul class="sub-menu">
        <li class="{% if registrar in request.path %} active {% endif %}">
        	<a href="{{registrar}}">Registrar</a>
        </li>
        <li class="{% if listado in request.path %} active {% endif %}">
        	<a href="{{listado}}">Listado</a>
        </li>
    </ul>
</li>