{% url 'reportes:detalles_ventas_diarias' as detalles_ventas_diarias %}
{% url 'reportes:ventas_por_productos' as ventas_por_productos %}
{% url 'reportes:ventas_por_categoria' as ventas_por_categoria %}
{% url 'reportes:ventas_por_cliente' as ventas_por_cliente %}
{% url 'reportes:ventas_por_vendedor' as ventas_por_vendedor %}
{% url 'reportes:ventas_diarias' as ventas_diarias %}
{% url 'reportes:disponibilidad_productos' as disponibilidad_productos %}

<li class="{% if "reportes/" in request.path %} active {% endif %}has-sub">
    <a href="javascript:;">
        <b class="caret"></b>
        <i class="ion-ios-pulse bg-blue"></i>
        <span>Reportes</span>
    </a>
    <ul class="sub-menu">
        <li class="{% if detalles_ventas_diarias in request.path %} active {% endif %}">
            <a href="{% url 'reportes:detalles_ventas_diarias' %}">Registro de ventas</a>
        </li>
        {% if perms.reportes.gestionar_reportes %}
            <li class="{% if ventas_diarias in request.path %} active {% endif %}">
                <a href="{% url 'reportes:ventas_diarias' %}">Ventas diarias</a>
            </li>
            <li class="{% if ventas_por_productos in request.path %} active {% endif %}">
                <a href="{% url 'reportes:ventas_por_productos' %}">Ventas por productos</a>
            </li>
            <li class="{% if ventas_por_categoria in request.path %} active {% endif %}">
                <a href="{% url 'reportes:ventas_por_categoria' %}">Ventas por categoria</a>
            </li>
            <li class="{% if ventas_por_cliente in request.path %} active {% endif %}">
                <a href="{% url 'reportes:ventas_por_cliente' %}">Ventas por cliente</a>
            </li>
            <li class="{% if ventas_por_vendedor in request.path %} active {% endif %}">
                <a href="{% url 'reportes:ventas_por_vendedor' %}">Ventas por vendedor</a>
            </li>
            <li class="{% if disponibilidad_productos in request.path %} active {% endif %}">
                <a href="{% url 'reportes:disponibilidad_productos' %}">Disponibilidad de productos</a>
            </li>
        {% endif %}
    </ul>
</li>