{% url 'usuarios:registrar_trabajador' as registrar_trabajador %}
{% url 'usuarios:listado' as listado %}
<li class="{% if "usuarios/" in request.path %} active {% endif %}has-sub">
    <a href="javascript:;">
        <b class="caret"></b>
        <i class="ion-ios-person bg-gradient-purple"></i>
        <span>Usuarios</span>
    </a>
    <ul class="sub-menu">
        <li class="{% if registrar_trabajador in request.path %} active {% endif %}">
        	<a href="{% url 'usuarios:registrar_trabajador' %}">Registrar trabajador</a>
        </li>
        <li class="{% if listado in request.path %} active {% endif %}">
        	<a href="{% url 'usuarios:listado' %}">Listado</a>
        </li>
    </ul>
</li>