{% extends "reportes/base_reportes.html" %}

{% load bootstrap4 %}
{% load humanize %}

{% block titulo %}
    Reporte de registro de ventas
{% endblock titulo %}

{% block titulo_pagina %}
    Reporte de registro de ventas: {{fecha}}
{% endblock titulo_pagina %}

{% block miga_pan %}
    <li class="breadcrumb-item"><a href="javascript:;">Reportes</a></li>
    <li class="breadcrumb-item active">Registro de ventas</li>
{% endblock miga_pan %}

{% block titulo_panel %}
    Reporte de registro de ventas: {{fecha}}
{% endblock titulo_panel %}

{% block js %}
    {{ block.super }}
    <script>
        $(".table").on('click','.eliminar', function (e) {
            var url = $(this).attr('data-url');
            var total = $(this).attr('data-total');
            var fecha = $(this).attr('data-fecha');
            $("#confirmar-eliminar").attr('href', url);
            $("#dato_total").html(total);
            $("#dato_fecha").html(fecha);
        });
    </script>
{% endblock js %}

{% block contenido_panel %}
    <form method="get">
        <div class="row">
            <div class="col-12 col-sm-4 offset-sm-2">
                <div class="form-group">
                    <label for="id_fecha">Fecha de análisis</label>
                    <div class="input-group date fecha">
                        <input type="text" class="form-control readonly {% if form.fecha.errors|length > 0 %}is-invalid{% endif %}" id="id_fecha" name="fecha" required value="{{form.fecha.value|default:""}}" />
                        <div class="input-group-addon">
                            <i class="fa fa-calendar"></i>
                        </div>
                        <div class="invalid-tooltip">
                            {% for error in form.fecha.errors %}
                                {{error}}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-3" align="center">
                <button class="btn btn-primary m-t-25" type="submit">
                    Generar reporte
                </button>
            </div>
        </div>
    </form>
    <div class="row">
        <div class="col-12">
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3 col-md-6">
            <div class="widget widget-stats bg-gradient-red">
                <div class="stats-icon stats-icon-lg"><i class="fa fa-dollar-sign"></i></div>
                <div class="stats-info">
                    <h4>TOTAL DE VENTAS</h4>
                    <p>${{total_ventas|default_if_none:0|intcomma}}</p>
                </div>
                <div class="stats-link">
                    <a href="javascript:;">Total de ventas realizadas</a>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="widget widget-stats bg-gradient-orange">
                <div class="stats-icon stats-icon-lg"><i class="fa fa-file-alt fa-fw"></i></div>
                <div class="stats-info">
                    <h4>VENTAS REALIZADAS</h4>
                    <p>{{ventas|length}}</p>   
                </div>
                <div class="stats-link">
                    <a href="javascript:;">Cantidad de ventas realizadas</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <ul class="nav nav-pills">
                <li class="nav-items">
                    <a href="#nav-pills-tab-1" data-toggle="tab" class="nav-link active">
                        <span>Punto de venta</span>
                    </a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane fade active show" id="nav-pills-tab-1">
                    <div class="table-responsive">
                        <table class="table table-striped table-condensed table-hover datatable">
                            <thead>
                                <tr>
                                    <th>Fecha</th>
                                    <th>Cliente</th>
                                    <th>Trabajador</th>
                                    <th>Total</th>
                                    <th>Productos</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for venta in ventas %}
                                    <tr>
                                        <td>{{venta.fecha|date:"Y-m-d"}} {{venta.fecha|time:"h:i a"}}</td>
                                        <td>{{venta.cliente|default_if_none:"No definido"}}</td>
                                        <td>{{venta.trabajador}}</td>
                                        <td>{{venta.total|intcomma}}</td>
                                        <td>
                                            <ul>
                                                {% for producto in venta.productos_comprados.all %}
                                                    <li>
                                                        {{producto.producto}} x {{producto.cantidad}}
                                                    </li>
                                                {% endfor %}
                                            </ul>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock contenido_panel %}