{% load static %}
{% load bootstrap4 %}
<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<head>
	<meta charset="utf-8" />
	<title>Superdrogas | Gestión de frnquicias</title>
	<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
	<meta content="" name="description" />
	<meta content="" name="author" />
	
	<!-- ================== BEGIN BASE CSS STYLE ================== -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
	<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
	
	<link rel="shortcut icon" type="image/png" href="{% static 'img/logo/favicon.png' %}"/>
		<!-- ================== BEGIN BASE CSS STYLE ================== -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
	<link href="{% static 'plugins/bootstrap/4.0.0/css/bootstrap.min.css' %}" rel="stylesheet" />
	<link href="{% static 'plugins/font-awesome/5.0/css/fontawesome-all.min.css' %}" rel="stylesheet" />
	<link href="{% static 'plugins/animate/animate.min.css' %}" rel="stylesheet" />
	<link href="{% static 'css/one-page-parallax/style.min.css' %}" rel="stylesheet" />
	<link href="{% static 'css/one-page-parallax/style-responsive.min.css' %}" rel="stylesheet" />
	<link href="{% static 'css/one-page-parallax/theme/blue.css' %}" id="theme" rel="stylesheet" />
	<!-- ================== END BASE CSS STYLE ================== -->
	
	<!-- ================== BEGIN BASE JS ================== -->
	<script src="{% static 'plugins/pace/pace.min.js' %}"></script>
	<!-- ================== END BASE JS ================== -->
</head>
<body data-spy="scroll" data-target="#header" data-offset="51">
	<!-- begin #page-container -->
	<div id="page-container" class="fade">
		<!-- begin #header -->
		<div id="header" class="header navbar navbar-transparent navbar-fixed-top">
			<!-- begin container -->
			<div class="container">
				<!-- begin navbar-header -->
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#header-navbar">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a href="index.html" class="navbar-brand">
						<span class="text-theme">
							<img src="{% static 'img/logo/favicon.png' %}" height="30" width="30">
						</span>
						<span class="brand-text">
							Superdrogas
						</span>
					</a>
				</div>
				<!-- end navbar-header -->
				<!-- begin navbar-collapse -->
				<div class="collapse navbar-collapse" id="header-navbar">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#home" data-click="scroll-to-target">Inicio</a></li>
                        <li><a href="#about" data-click="scroll-to-target">Nosotros</a></li>
                        <li><a href="#milestone" data-click="scroll-to-target">Beneficios</a></li>
                        <li><a href="#team" data-click="scroll-to-target">Módulos</a></li>
                        <li><a href="#service" data-click="scroll-to-target">Planes</a></li>
                        <li><a href="#contact" data-click="scroll-to-target">Contáctanos</a></li>
                        <li><a href="{% url 'usuarios:login' %}" class="btn btn-outline ">Iniciar Sesión</a></li>
                    </ul>
                </div>
				<!-- end navbar-collapse -->
			</div>
			<!-- end container -->
		</div>
		<!-- end #header -->
		
		<!-- begin #home -->
		<div id="home" class="content has-bg home">
			<!-- begin content-bg -->
			<div class="content-bg" style="background-image: url({% static 'img/superdrogas.jpg' %});" 
				data-paroller="true" 
				data-paroller-factor="0.5"
				data-paroller-factor-xs="0.25">
			</div>
			<!-- end content-bg -->
			<!-- begin container -->
			<div class="container home-content">
				<h1>Bienvenido a Superdrogas</h1>
				<h2>Lo hacemos más fácil para ti.</h2>
                <h4>
                Superdrogas es una aplicación que ayuda a las pequeñas droguerías a gestionar de manera eficiente su negocio (Inventario, compras, ventas y mucho más).
                </h4>
				<a href="#" class="btn btn-theme">Ver más</a> 
				<a href="#" class="btn btn-outline">Planes</a><br />
				<br />
			</div>
			<!-- end container -->
		</div>
		<!-- end #home -->
		
		<!-- begin #about -->
		<div id="about" class="content" data-scrollview="true">
			<!-- begin container -->
			<div class="container" data-animation="true" data-animation-type="fadeInDown">
				<h2 class="content-title">Sobre nosotros</h2>
				<p class="content-desc">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum consectetur eros dolor,<br />
					sed bibendum turpis luctus eget
				</p>
				<!-- begin row -->
				<div class="row">
					<!-- begin col-4 -->
					<div class="col-md-4 col-sm-12">
						<!-- begin about -->
						<div class="about">
							<h3>Nuestra historia</h3>
							<p>
								Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
								Vestibulum posuere augue eget ante porttitor fringilla. 
								Aliquam laoreet, sem eu dapibus congue, velit justo ullamcorper urna, 
								non rutrum dolor risus non sapien. Vivamus vel tincidunt quam. 
								Donec ultrices nisl ipsum, sed elementum ex dictum nec. 
							</p>
							<p>
								In non libero at orci rutrum viverra at ac felis. 
								Curabitur a efficitur libero, eu finibus quam. 
								Pellentesque pretium ante vitae est molestie, ut faucibus tortor commodo. 
								Donec gravida, eros ac pretium cursus, est erat dapibus quam, 
								sit amet dapibus nisl magna sit amet orci. 
							</p>
						</div>
						<!-- end about -->
					</div>
					<!-- end col-4 -->
					<!-- begin col-4 -->
					<div class="col-md-4 col-sm-12">
						<h3>Nuestra filosofía</h3>
						<!-- begin about-author -->
						<div class="about-author">
							<div class="quote bg-silver">
								<i class="fa fa-quote-left"></i>
								<h3>Work hard,<br /><span>play hard.</span></h3>
								<i class="fa fa-quote-right"></i>
							</div>
							<div class="author">
								<div class="image">
									<img src="{% static 'img/juan.png' %}" alt="Sean Ngu" />
								</div>
								<div class="info">
									Juan Tello
									<small>Gerente</small>
								</div>
							</div>
						</div>
						<!-- end about-author -->
					</div>
					<!-- end col-4 -->
					<!-- begin col-4 -->
					<div class="col-md-4 col-sm-12">
						<h3>Nuestra experiencia</h3>
						<!-- begin skills -->
						<div class="skills">
							<div class="skills-name">Front End</div>
							<div class="progress progress-striped">
								<div class="progress-bar progress-bar-success" style="width: 95%">
									<span class="progress-number">50%</span>
								</div>
							</div>
							<div class="skills-name">Back End</div>
							<div class="progress progress-striped">
								<div class="progress-bar progress-bar-success" style="width: 90%">
									<span class="progress-number">80%</span>
								</div>
							</div>
							<div class="skills-name">Diseño de base de datos</div>
							<div class="progress progress-striped">
								<div class="progress-bar progress-bar-success" style="width: 85%">
									<span class="progress-number">85%</span>
								</div>
							</div>
						</div>
						<!-- end skills -->
					</div>
					<!-- end col-4 -->
				</div>
				<!-- end row -->
			</div>
			<!-- end container -->
		</div>
		<!-- end #about -->
		
		<!-- begin #quote -->
		<div id="quote" class="content bg-black-darker has-bg" data-scrollview="true">
			<!-- begin content-bg -->
			<div class="content-bg" style="background-image: url({% static 'img/droguerias.jpg' %})"
				data-paroller-factor="0.5"
				data-paroller-factor-md="0.01"
				data-paroller-factor-xs="0.01">
			</div>
			<!-- end content-bg -->
			<!-- begin container -->
			<div class="container" data-animation="true" data-animation-type="fadeInLeft">
				<!-- begin row -->
				<div class="row">
					<!-- begin col-12 -->
					<div class="col-md-12 quote">
						<i class="fa fa-quote-left"></i> Passion leads to design, design leads to performance, <br />
						performance leads to <span class="text-theme">success</span>!  
						<i class="fa fa-quote-right"></i>
						<small>Juan Tello, Gerente.</small>
					</div>
					<!-- end col-12 -->
				</div>
				<!-- end row -->
			</div>
			<!-- end container -->
		</div>
		<!-- end #quote -->
		
		<!-- begin #team -->
		<div id="team" class="content" data-scrollview="true">
			<!-- begin container -->
			<div class="container">
				<h2 class="content-title">Nuestro equipo</h2>
				<p class="content-desc">
					Somos dos estudiantes de Tecbología en Sistemas de Información de la Universidad del Valle, <br /> 
					capacitados para el desarrollo de soluciones eficientes para su negocio.
				</p>
				<!-- begin row -->
				<div class="row">
					<!-- begin col-4 -->
					<div class="col-md-6 col-sm-12">
						<!-- begin team -->
						<div class="team">
							<div class="image" data-animation="true" data-animation-type="flipInX">
								<img src="{% static 'img/juan.png' %}" alt="Ryan Teller" />
							</div>
							<div class="info">
								<h3 class="name">Juan Tello</h3>
								<div class="title text-theme">Web Developer</div>
								<p>Estudiante de séptimo semestre, con experiencia en desarrollo de software.</p>
								<div class="social">
									<a href="#"><i class="fab fa-facebook-f fa-lg fa-fw"></i></a>
									<a href="#"><i class="fab fa-twitter fa-lg fa-fw"></i></a>
									<a href="#"><i class="fab fa-google-plus-g fa-lg fa-fw"></i></a>
								</div>
							</div>
						</div>
						<!-- end team -->
					</div>
					<!-- end col-4 -->
					<!-- begin col-4 -->
					<div class="col-md-6 col-sm-12">
						<!-- begin team -->
						<div class="team">
							<div class="image" data-animation="true" data-animation-type="flipInX">
								<img src="{% static 'img/leidy.png' %}" alt="Jonny Cash" />
							</div>
							<div class="info">
								<h3 class="name">Leidy Rivera</h3>
								<div class="title text-theme">Web Developer</div>
								<p>Estudiante de séptimo semestre, con experiencia en desarrollo de software.</p>
								<div class="social">
									<a href="#"><i class="fab fa-facebook-f fa-lg fa-fw"></i></a>
									<a href="#"><i class="fab fa-twitter fa-lg fa-fw"></i></a>
									<a href="#"><i class="fab fa-google-plus-g fa-lg fa-fw"></i></a>
								</div>
							</div>
						</div>
						<!-- end team -->
					</div>
					<!-- end col-4 -->
				</div>
				<!-- end row -->
			</div>
			<!-- end container -->
		</div>
		<!-- end #team -->
		
		
		
		<!-- beign #service -->
		<div id="service" class="content" data-scrollview="true">
			<!-- begin container -->
			<div class="container">
				<h2 class="content-title">Nuestros servicios</h2>
				<p class="content-desc">
					Actualmente nuestro sistema ofrece estos servicios,<br />
					seguimos desarrollando nuevas funcionalidades.
				</p>
				<!-- begin row -->
				<div class="row">
					<!-- begin col-4 -->
					<div class="col-md-4 col-sm-12">
						<div class="service">
							<div class="info">
                                <img style="float:left" src="{% static 'img/usuarios.png' %}"  alt="usuarios" hspace="20" width="90" height="90">
                                <h4 class="title"><b>Gestión de usuarios</b></h4>
                                <p class="desc">Otorga permisos de acuerdo al perfil de tus empleados.</p>
                            </div>
						</div>
					</div>
					<!-- end col-4 -->
					<!-- begin col-4 -->
					<div class="col-md-4 col-sm-12">
						<div class="service">
							<div class="info">
								<img style="float:left" src="{% static 'img/seguridad.png' %}"  alt="seguridad" hspace="20" width="90" height="90">
								<h4 class="title">Seguridad y control de acceso</h4>
								<p class="desc">Mantenga al tanto de todos los movimientos realizados en el <br/>sistema de su droguería.</p>
							</div>
						</div>
					</div>
					<!-- end col-4 -->
					<!-- begin col-4 -->
					<div class="col-md-4 col-sm-12">
						<div class="service">
							<div class="info">
								<img style="float:left" src="{% static 'img/inventario.png' %}"  alt="inventario" hspace="20" width="90" height="90">
								<h4 class="title">Gestión de inventarios</h4>
								<p class="desc">Tenga el control de los productos de su droguería en todo momento.</p>
							</div>
						</div>
					</div>
					<!-- end col-4 -->
				</div>
				<!-- end row -->
				<!-- begin row -->
				<div class="row">
					<!-- begin col-4 -->
					<div class="col-md-4 col-sm-12">
						<div class="service">
							<div class="info">
								<img style="float:left" src="{% static 'img/ventas.png' %}"  alt="ventas" hspace="20" width="90" height="90">ventas
								<h4 class="title">Gestión de ventas</h4>
								<p class="desc">Realice sus ventas desde la aplicación y permita que sus clientes compren desde casa.</p>
							</div>
						</div>
					</div>
					<!-- end col-4 -->
					<!-- begin col-4 -->
					<div class="col-md-4 col-sm-12">
						<div class="service">
							<div class="info">
								<img style="float:left" src="{% static 'img/reportes.png' %}"  alt="reportes" hspace="20" width="90" height="90">
								<h4 class="title">Reportes</h4>
								<p class="desc">Tenga a su alcance los reportes más importantes del estado de su droguería, los cuales le apoyarán en la toma de decisiones.</p>
							</div>
						</div>
					</div>
					<!-- end col-4 -->
					<!-- begin col-4 -->
					<div class="col-md-4 col-sm-12">
						<div class="service">
							<div class="info">
								<img style="float:left" src="{% static 'img/soporte.png' %}"  alt="soporte" hspace="20" width="90" height="90">
								<h4 class="title">Soporte 24/7</h4>
								<p class="desc">Obtenga soporte de nuestros asesores que siemore están disponibles para usted.</p>
							</div>
						</div>
					</div>
					<!-- end col-4 -->
				</div>
				<!-- end row -->
			</div>
			<!-- end container -->
		</div>
		<!-- end #about -->
		
		
		<!-- begin #pricing -->
		<div id="pricing" class="content" data-scrollview="true">
			<!-- begin container -->
			<div class="container">
				<h2 class="content-title">Planes</h2>
				<p class="content-desc">
					Elige el plan que más se adapte a las necesidades de tu negocio.
				</p>
				<!-- begin pricing-table -->
				<ul class="pricing-table pricing-col-4">
					<li data-animation="true" data-animation-type="fadeInUp">
						<div class="pricing-container">
							<h3>Starter</h3>
							<div class="price">
								<div class="price-figure">
									<span class="price-number">FREE</span>
								</div>
							</div>
							<ul class="features">
								<li>1GB Storage</li>
								<li>2 Clients</li>
								<li>5 Active Projects</li>
								<li>5 Colors</li>
								<li>Free Goodies</li>
								<li>24/7 Email support</li>
							</ul>
							<div class="footer">
								<a href="#" class="btn btn-inverse btn-block">Buy Now</a>
							</div>
						</div>
					</li>
					<li data-animation="true" data-animation-type="fadeInUp">
						<div class="pricing-container">
							<h3>Basic</h3>
							<div class="price">
								<div class="price-figure">
									<span class="price-number">$9.99</span>
									<span class="price-tenure">per month</span>
								</div>
							</div>
							<ul class="features">
								<li>2GB Storage</li>
								<li>5 Clients</li>
								<li>10 Active Projects</li>
								<li>10 Colors</li>
								<li>Free Goodies</li>
								<li>24/7 Email support</li>
							</ul>
							<div class="footer">
								<a href="#" class="btn btn-inverse btn-block">Buy Now</a>
							</div>
						</div>
					</li>
					<li class="highlight" data-animation="true" data-animation-type="fadeInUp">
						<div class="pricing-container">
							<h3>Premium</h3>
							<div class="price">
								<div class="price-figure">
									<span class="price-number">$19.99</span>
									<span class="price-tenure">per month</span>
								</div>
							</div>
							<ul class="features">
								<li>5GB Storage</li>
								<li>10 Clients</li>
								<li>20 Active Projects</li>
								<li>20 Colors</li>
								<li>Free Goodies</li>
								<li>24/7 Email support</li>
							</ul>
							<div class="footer">
								<a href="#" class="btn btn-theme btn-block">Buy Now</a>
							</div>
						</div>
					</li>
					<li data-animation="true" data-animation-type="fadeInUp">
						<div class="pricing-container">
							<h3>Lifetime</h3>
							<div class="price">
								<div class="price-figure">
									<span class="price-number">$999</span>
								</div>
							</div>
							<ul class="features">
								<li>Unlimited Storage</li>
								<li>Unlimited Clients</li>
								<li>Unlimited Projects</li>
								<li>Unlimited Colors</li>
								<li>Free Goodies</li>
								<li>24/7 Email support</li>
							</ul>
							<div class="footer">
								<a href="#" class="btn btn-inverse btn-block">Buy Now</a>
							</div>
						</div>
					</li>
				</ul>
			</div>
			<!-- end container -->
		</div>
		<!-- end #pricing -->
		
		<!-- begin #contact -->
		<div id="contact" class="content bg-silver-lighter" data-scrollview="true">
			<!-- begin container -->
			<div class="container">
				<h2 class="content-title">Contáctanos</h2>
				<p class="content-desc">
					Si tienes dudas, quejas o sugerencias,<br />
					escríbenos y responderemos a la mayor brevedad.
				</p>
				<!-- begin row -->
				<div class="row">
					<!-- begin col-6 -->
					<div class="col-md-6" data-animation="true" data-animation-type="fadeInLeft">
						<h3>Si deseas más información, comunícate con nosotros.</h3>
						<p>
							Morbi interdum mollis sapien. Sed ac risus. Phasellus lacinia, magna a ullamcorper laoreet, lectus arcu pulvinar risus, vitae facilisis libero dolor a purus.
						</p>
						<p>
							<strong>Saas:CB</strong><br />
							795 Folsom Ave, Suite 600<br />
							San Francisco, CA 94107<br />
							P: (123) 456-7890<br />
						</p>
						<p>
							<span class="phone">+11 (0) 123 456 78</span><br />
							<a href="mailto:hello@emailaddress.com">superdrogas@support.com</a>
						</p>
					</div>
					<!-- end col-6 -->
					<!-- begin col-6 -->
					<div class="col-md-6 form-col" data-animation="true" data-animation-type="fadeInRight">
						<form class="form-horizontal">
							<div class="form-group row m-b-15">
								<label class="col-form-label col-md-3 text-md-right">Nombre <span class="text-theme">*</span></label>
								<div class="col-md-9">
									<input type="text" class="form-control" />
								</div>
							</div>
							<div class="form-group row m-b-15">
								<label class="col-form-label col-md-3 text-md-right">Correo <span class="text-theme">*</span></label>
								<div class="col-md-9">
									<input type="text" class="form-control" />
								</div>
							</div>
							<div class="form-group row m-b-15">
								<label class="col-form-label col-md-3 text-md-right">Mensaje <span class="text-theme">*</span></label>
								<div class="col-md-9">
									<textarea class="form-control" rows="10"></textarea>
								</div>
							</div>
							<div class="form-group row m-b-15">
								<label class="col-form-label col-md-3 text-md-right"></label>
								<div class="col-md-9 text-left">
									<button type="submit" class="btn btn-theme btn-block">Enviar</button>
								</div>
							</div>
						</form>
					</div>
					<!-- end col-6 -->
				</div>
				<!-- end row -->
			</div>
			<!-- end container -->
		</div>
		<!-- end #contact -->
		
		<!-- begin #footer -->
		<div id="footer" class="footer">
			<div class="container">
				<div class="footer-brand">
					<div class="footer-brand-logo"></div>
					Color Admin
				</div>
				<p>
					&copy; Copyright Color Admin 2019 <br />
					An admin & front end theme with serious impact. Created by <a href="#">SeanTheme</a>
				</p>
				<p class="social-list">
					<a href="#"><i class="fab fa-facebook-f fa-fw"></i></a>
					<a href="#"><i class="fab fa-instagram fa-fw"></i></a>
					<a href="#"><i class="fab fa-twitter fa-fw"></i></a>
					<a href="#"><i class="fab fa-google-plus-g fa-fw"></i></a>
					<a href="#"><i class="fab fa-dribbble fa-fw"></i></a>
				</p>
			</div>
		</div>
		<!-- end #footer -->
		
		<!-- begin theme-panel -->
		<div class="theme-panel">
			<a href="javascript:;" data-click="theme-panel-expand" class="theme-collapse-btn"><i class="fa fa-cog"></i></a>
			<div class="theme-panel-content">
				<ul class="theme-list clearfix">
					<li><a href="javascript:;" class="bg-red" data-theme="red" data-theme-file="../assets/css/one-page-parallax/theme/red.css" data-click="theme-selector" data-toggle="tooltip" data-trigger="hover" data-container="body" data-title="Red" data-original-title="" title="">&nbsp;</a></li>
					<li><a href="javascript:;" class="bg-pink" data-theme="pink" data-theme-file="../assets/css/one-page-parallax/theme/pink.css" data-click="theme-selector" data-toggle="tooltip" data-trigger="hover" data-container="body" data-title="Pink" data-original-title="" title="">&nbsp;</a></li>
					<li><a href="javascript:;" class="bg-orange" data-theme="orange" data-theme-file="../assets/css/one-page-parallax/theme/orange.css" data-click="theme-selector" data-toggle="tooltip" data-trigger="hover" data-container="body" data-title="Orange" data-original-title="" title="">&nbsp;</a></li>
					<li><a href="javascript:;" class="bg-yellow" data-theme="yellow" data-theme-file="../assets/css/one-page-parallax/theme/yellow.css" data-click="theme-selector" data-toggle="tooltip" data-trigger="hover" data-container="body" data-title="Yellow" data-original-title="" title="">&nbsp;</a></li>
					<li><a href="javascript:;" class="bg-lime" data-theme="lime" data-theme-file="../assets/css/one-page-parallax/theme/lime.css" data-click="theme-selector" data-toggle="tooltip" data-trigger="hover" data-container="body" data-title="Lime" data-original-title="" title="">&nbsp;</a></li>
					<li><a href="javascript:;" class="bg-green" data-theme="green" data-theme-file="../assets/css/one-page-parallax/theme/green.css" data-click="theme-selector" data-toggle="tooltip" data-trigger="hover" data-container="body" data-title="Green" data-original-title="" title="">&nbsp;</a></li>
					<li class="active"><a href="javascript:;" class="bg-teal" data-theme="default" data-theme-file="../assets/css/one-page-parallax/theme/default.css" data-click="theme-selector" data-toggle="tooltip" data-trigger="hover" data-container="body" data-title="Default" data-original-title="" title="">&nbsp;</a></li>
					<li><a href="javascript:;" class="bg-aqua" data-theme="aqua" data-theme-file="../assets/css/one-page-parallax/theme/aqua.css" data-click="theme-selector" data-toggle="tooltip" data-trigger="hover" data-container="body" data-title="Aqua" data-original-title="" title="">&nbsp;</a></li>
					<li><a href="javascript:;" class="bg-blue" data-theme="blue" data-theme-file="../assets/css/one-page-parallax/theme/blue.css" data-click="theme-selector" data-toggle="tooltip" data-trigger="hover" data-container="body" data-title="Blue" data-original-title="" title="">&nbsp;</a></li>
					<li><a href="javascript:;" class="bg-purple" data-theme="purple" data-theme-file="../assets/css/one-page-parallax/theme/purple.css" data-click="theme-selector" data-toggle="tooltip" data-trigger="hover" data-container="body" data-title="Purple" data-original-title="" title="">&nbsp;</a></li>
					<li><a href="javascript:;" class="bg-indigo" data-theme="indigo" data-theme-file="../assets/css/one-page-parallax/theme/indigo.css" data-click="theme-selector" data-toggle="tooltip" data-trigger="hover" data-container="body" data-title="Indigo" data-original-title="" title="">&nbsp;</a></li>
					<li><a href="javascript:;" class="bg-black" data-theme="black" data-theme-file="../assets/css/one-page-parallax/theme/black.css" data-click="theme-selector" data-toggle="tooltip" data-trigger="hover" data-container="body" data-title="Black" data-original-title="" title="">&nbsp;</a></li>
				</ul>
			</div>
		</div>
		<!-- end theme-panel -->
	</div>
	<!-- end #page-container -->
	
<!-- ================== BEGIN BASE JS ================== -->
	<script src="{% static 'plugins/jquery/jquery-3.3.1.min.js' %}"></script>
	<script src="{% static 'plugins/bootstrap/4.0.0/js/bootstrap.bundle.min.js' %}"></script>
	<!--[if lt IE 9]>
		<script src="{% static 'crossbrowserjs/html5shiv.js' %}"></script>
		<script src="{% static 'crossbrowserjs/respond.min.js' %}"></script>
		<script src="{% static 'crossbrowserjs/excanvas.min.js' %}"></script>
	<![endif]-->
	<script src="{% static 'plugins/js-cookie/js.cookie.js' %}"></script>
	
	<script src="{% static 'plugins/scrollMonitor/scrollMonitor.js' %}"></script>
	<script src="{% static 'plugins/paroller/jquery.paroller.min.js' %}"></script>
	<script src="{% static 'js/one-page-parallax/apps.min.js' %}"></script>



	


	<script>    
		$(document).ready(function() {
			App.init();
		});
	</script>
</body>
</html>
