<!DOCTYPE html>
{% load bootstrap4 %}
{% load static %}
<!--[if IE 8]> <html lang="es" class="ie8"> <![endif]-->
<!--[if !IE]><!-->
<html lang="es">
<!--<![endif]-->
<head>
    <meta charset="utf-8" />
    <title>{{request.tenant.nombre}} | Ingreso al sistema</title>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
    <link rel="shortcut icon" type="image/png" href="{% static 'img/logo/favicon.png' %}"/>
    <!-- ================== BEGIN BASE CSS STYLE ================== -->
    <link href="{% static 'plugins/jquery-ui/jquery-ui.min.css' %}" rel="stylesheet" />
    <link href="{% static 'plugins/bootstrap/4.0.0/css/bootstrap.min.css' %}" rel="stylesheet" />
    <link href="{% static 'plugins/font-awesome/5.0/css/fontawesome-all.min.css' %}" rel="stylesheet" />
    <link href="{% static 'plugins/ionicons/css/ionicons.min.css' %}" rel="stylesheet" />
    <link href="{% static 'plugins/animate/animate.min.css' %}" rel="stylesheet" />
    <link href="{% static 'css/apple/style.min.css' %}" rel="stylesheet" />
    <link href="{% static 'css/apple/style-responsive.min.css' %}" rel="stylesheet" />
    <link href="{% static 'css/apple/theme/default.css' %}" rel="stylesheet" id="theme" />
    <!-- ================== END BASE CSS STYLE ================== -->
    
    <link href="{% static 'plugins/bootstrap-social/bootstrap-social.css' %}" rel="stylesheet" />

    <!-- ================== BEGIN BASE JS ================== -->
    <script src="{% static 'plugins/pace/pace.min.js' %}"></script>
    <!-- ================== END BASE JS ================== -->

    <link href="{% static 'plugins/toastr/build/toastr.min.css' %}" rel="stylesheet">
</head>
<body class="pace-top bg-white">
    <!-- begin #page-loader -->
    <div id="page-loader" class="fade show"><span class="spinner"></span></div>
    <!-- end #page-loader -->
    
    <!-- begin #page-container -->
    <div id="page-container" class="fade">
        <!-- begin login -->
        <div class="login login-with-news-feed">
            <!-- begin news-feed -->
            <div class="news-feed">
                <div class="news-image" style="background-image: url({% static 'img/superdrogas.jpg' %})"></div>
                <div class="news-caption">
                    <h4 class="caption-title">Bienvenido a <b>{{request.tenant.nombre}}</b></h4>
                    <p>
                        {{request.tenant.sobre_nosotros}}
                    </p>
                </div>
            </div>
            <!-- end news-feed -->
            <!-- begin right-content -->
            <div class="right-content">
                <!-- begin login-header -->
                <div class="login-header p-t-50">
                    <div class="brand">
                       
                            <img src="{% if request.tenant.logo == "" %}{% static 'img/logo/favicon.png' %}{% else %}{{MEDIA_URL}}{{request.tenant.logo}}{% endif %}" style="width:60%; height: 60px" alt="logo_empresa">
                        
                        <br/>
                    </div>
                    <div class="icon">
                        <i class="fa fa-sign-in"></i>
                    </div>
                </div>
                <!-- end login-header -->
                <!-- begin login-content -->
                <div class="login-content">
                    <form class="margin-bottom-0" method="post">{% csrf_token %}
                        {% bootstrap_form form %}

                        <div class="login-buttons">
                            <button type="submit" class="btn btn-primary btn-block btn-lg">Ingresar</button>
                        </div>
                        <br/>
                        {% if request.tenant.nombre != "Superdrogas" %}
                        <div class="login-buttons">
                            <a href="#" class="btn btn-google btn-user btn-block">
                                <i class="fab fa-google fa-fw"></i> Acceder con tu cuenta de Google
                            </a>
                        </div>
                        <div class="m-t-20 m-b-40 p-b-40 text-inverse">
                            No tienes cuenta? Click <a href="{% url 'usuarios:regisrar_cliente' %}" class="text-info">aquí</a> para registrarte.
                        </div>
                        {% endif %}
                        <hr />
                        <p class="text-center text-grey-darker">
                            Copyright &copy; CB:SaaS. All rights reserved. 2019
                        </p>
                    </form>
                </div>
                <!-- end login-content -->
            </div>
            <!-- end right-container -->
        </div>
        <!-- end login -->
    </div>
    <!-- end page container -->
    
    <!-- ================== BEGIN BASE JS ================== -->
    <script src="{% static 'plugins/jquery/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'plugins/jquery-ui/jquery-ui.min.js' %}"></script>
    <script src="{% static 'plugins/bootstrap/4.0.0/js/bootstrap.bundle.min.js' %}"></script>
    <!--[if lt IE 9]>
        <script src="{% static 'crossbrowserjs/html5shiv.js' %}"></script>
        <script src="{% static 'crossbrowserjs/respond.min.js' %}"></script>
        <script src="{% static 'crossbrowserjs/excanvas.min.js' %}"></script>
    <![endif]-->
    <script src="{% static 'plugins/slimscroll/jquery.slimscroll.min.js' %}"></script>
    <script src="{% static 'plugins/js-cookie/js.cookie.js' %}"></script>
    <script src="{% static 'js/theme/apple.min.js' %}"></script>
    <script src="{% static 'js/apps.min.js' %}"></script>
    <!-- ================== END BASE JS ================== -->
    <script src="{% static 'plugins/toastr/build/toastr.min.js' %}"></script>

    {% block js %}{% endblock js %}
    <script>
        $(document).ready(function() {
            App.init();

            {% for msg in messages %}
                $(document).ready(function(){
                    setTimeout(function() {
                        toastr.options = {
                            "closeButton": true,
                            "progressBar": true,
                            "showEasing": "swing",
                            "extendedTimeOut": 60000,
                            "timeOut": 30000,
                            "progressBar": true
                        }
                        toastr["{{ msg.tags }}"]("{{msg}}")
                    },500);
                });
            {% endfor %}
        });
        $('form').attr('autocomplete','off');
    </script>
</body>
</html>
