{% extends "base_tablas.html" %}
{% load humanize %}

{% block titulo %}Listado de medicamentos{% endblock %}

{% block miga_pan %}
    <li class="breadcrumb-item"><a href="javascript:;">Medicamentos</a></li>
    <li class="breadcrumb-item active">Listado</li>
{% endblock miga_pan %}

{% block titulo_pagina %}
    Listado de medicamentos
{% endblock titulo_pagina %}

{% block titulo_panel %}
    Listado de medicamentos
{% endblock titulo_panel %}

{% block botones_panel %}
    <a href="{% url 'medicamentos:registrar' %}" class="btn btn-xs btn-pink">
        <i class="ion-md-create"></i>
        Registrar medicamento
    </a>
{% endblock botones_panel %}

{% block contenido_panel %}
    <div class="row">
        <div class="col-12">
            <div class="table-responsive">
                <table class="table table-bordered table-hover datatable">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Imagen</th>
                            <th>Precio ($/unidad)</th>
                            <th>Estado</th>
                            <th>Categoría</th>
                            <th>Descripción</th>
                            <th>Opciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for medicamento in medicamentos %}
                            <tr>
                                <td>{{medicamento.nombre}}</td>
                                <td>
                                    {% if medicamento.imagen %}
                                        <img src="{{producto.obtener_imagen}}" alt="producto_{{medicamento.nombre}}"
                                        style="width:100px; max-height: 120px">
                                    {% endif %}
                                </td>
                                <td>{{medicamento.precio|intcomma}}</td>
                                <td>
                                    {% if medicamento.activo|lower == "true" %}
                                        <span class="label label-primary" style="font-size: 100%">Activo</span>
                                    {% else %}
                                        <span class="label label-danger" style="font-size: 100%">Inactivo</span>
                                    {% endif %}
                                </td>
                                <td>{{medicamento.categoria}}</td>
                                <td>{{medicamento.descripcion|linebreaksbr}}</td>
                                <td>
                                    <a class="btn btn-xs btn-purple" href="{% url 'medicamentos:modificar' medicamento.id %}">
                                        <i class="fas fa-edit"></i>
                                        Modificar
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock contenido_panel %}