{% extends "base.html" %}
{% load bootstrap4 %}
{% load static %}

{% block titulo %}
    Formulario de modificación de empresa
{% endblock titulo %}

{% block titulo_pagina %}
    Formulario de modificación de empresa
{% endblock titulo_pagina %}

{% block miga_pan %}
    <li class="breadcrumb-item"><a href="javascript:;">Empresas</a></li>
    <li class="breadcrumb-item active">Modificar</li>
{% endblock miga_pan %}

{% block titulo_panel %}
    Formulario de modificación de empresa
{% endblock titulo_panel %}

{% block js %}
    <script type="text/javascript" src="{% static 'js/apps/empresas/formulario_empresa.js' %}"></script>
{% endblock js %}

{% block contenido_panel %}
    <form class="bloquear-ui-enviar" method="post" enctype="multipart/form-data">{% csrf_token %}
        <div class="row">
            <div class="col-12">
                <h4>Información básica de la empresa</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-sm-6">
                {% bootstrap_field form.nombre %}
            </div>
            <div class="col-12 col-sm-6">
                {% bootstrap_field form.eslogan %}
            </div>
            <div class="col-12 col-sm-6">
                {% bootstrap_field form.direccion %}
            </div>
            <div class="col-12 col-sm-6">
                {% bootstrap_field form.telefono %}
            </div>
            <div class="col-12 col-sm-6">
                {% bootstrap_field form.email %}
            </div>
            <div class="col-12 col-sm-6">
                {% bootstrap_field form.logo %}
            </div>
            <div class="col-12 col-sm-6">
                {% bootstrap_field form.sobre_nosotros %}
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <a class="btn btn-warning" href="{% url 'empresas:listado' %}">
                    <i class="fa fa-angle-left"></i> Volver
                </a>
            </div>
            <div class="col-6" align="right">
                <button class="btn btn-primary" type="submit">
                    Modificar <i class="fa fa-angle-right"></i>
                </button>
            </div>
        </div>
    </form>
{% endblock contenido_panel %}